.current-album-container {
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
  }
  
  .image {
    margin-right: 10px;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 10px;
    float: left;
    width: 230px;
    height: 230px;
  }
  
  .information {
    padding-left: 20px;
    padding-top: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .public {
    color: white;
    text-align: left;
    size: 20px;
    margin-top: 0;
  }
  
  .album-name {
    color: white;
    text-align: left;
    font-size: 48px;
    margin-top: 0;
  }
  
  .other {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-top: 0;
  }
