.App {
  width:100vw;
  height:100vh;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(ellipse at bottom, #00377b 0%, #0c0d13 100%);
}

.login-text {
  color: white;
  text-decoration: none;
  font-size: larger;
}


::-webkit-scrollbar {
  width: 0.9vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
